/* Forum.css */

#forum h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #004d99;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-bottom: 10px;
    border-bottom: 2px solid #cce7ff;
}

/* Modal Styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Forum Styles */
.forum-sections {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.forum-sections > div {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #cce7ff;
    border-radius: 8px;
    text-align: center;
}

.forum-sections > div h3 {
    margin-bottom: 10px;
    color: #004d99;
}

.forum-sections > div ul {
    padding-left: 20px;
}
